*.o
*~
*.swp
.libs
autom4te.cache
aclocal.m4
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
missing
stamp-h*
src/Makefile
src/Makefile.in
src/tools/combinemcmcdatafiles
src/tools/dat2txt
src/tools/generateparameters
src/tools/multiplymcmcplots
src/tools/multiplyplots
src/tools/normalize
src/tools/parse_tempo2_par
src/tools/processensembleresults1d
src/tools/processplots
src/tools/scatterensemble
src/tools/showoptimum
src/tools/Makefile
src/tools/Makefile.in
